[submodule "src/ThirdParty/stb"]
	path = src/ThirdParty/stb
	url = git@github.com:nothings/stb.git
[submodule "src/ThirdParty/glm"]
	path = src/ThirdParty/glm
	url = git@github.com:g-truc/glm.git
[submodule "src/ThirdParty/imgui"]
	path = src/ThirdParty/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "src/ThirdParty/glfw"]
	path = src/ThirdParty/glfw
	url = git@github.com:glfw/glfw.git
[submodule "src/ThirdParty/assimp"]
	path = src/ThirdParty/assimp
	url = git@github.com:assimp/assimp.git
